<div class="box" ng-controller="HomeController">
	<div class="box-header">
		<h2>ANP Fuel Price</h2>
	</div>
	<div class="box-body">
		<div class="row">
			<div class="col-sm-12">
				<button ng-click='callAPI()'>Call API</button>
				<p>{{responseStatusMessage}}</p>
			</div>
			<br>
			<div class="col-sm-12">
				<select ng-model='selectedState'
						ng-init="selectedState=states[0]"
						ng-options='obj.name for obj in states'
						ng-change="updateFilter()">
				</select>
				<select ng-model='selectedFuel'
						ng-init="selectedFuel=fuelTypes[0]"
						ng-options='obj.name for obj in fuelTypes'
						ng-change="updateFilter()">
				</select>
			</div>
		</div>

		<br><br>

		<div class="row" style="margin: 10px;">
			<div class="table-responsive">
				<table class="table table-hover">
					<thead>
						<tr>
							<th rowspan="2" style="vertical-align:middle">City</th>
							<th colspan="5">Consumer's Price</th>
							<th colspan="4">Distribution's Price</th>
						</tr>
						<tr>
							<th>Average Price</th>
							<th>Standard Deviation</th>
							<th>Minimum Price</th>
							<th>Maximum Price</th>
							<th>Average Margin</th>
							<th>Average Price</th>
							<th>Standard Deviation</th>
							<th>Minimum Price</th>
							<th>Maximum Price</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="cityStatistic in tableCityStatatistics | orderBy:'name'">
							<td>{{cityStatistic.name}}</td>
							<td>{{cityStatistic.statistic.consumer_price.cp_avgPrice}}</td>
							<td>{{cityStatistic.statistic.consumer_price.cp_stdDeviation}}</td>
							<td>{{cityStatistic.statistic.consumer_price.cp_minPrice}}</td>
							<td>{{cityStatistic.statistic.consumer_price.cp_maxPrice}}</td>
							<td>{{cityStatistic.statistic.consumer_price.cp_avgMargin}}</td>
							<td>{{cityStatistic.statistic.distribution_price.dp_avgPrice}}</td>
							<td>{{cityStatistic.statistic.distribution_price.dp_stdDeviation}}</td>
							<td>{{cityStatistic.statistic.distribution_price.dp_minPrice}}</td>
							<td>{{cityStatistic.statistic.distribution_price.dp_maxPrice}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

